### -- local -------------------------------------------------------------

# synscript PDFs of sources
*.clj.pdf
*.cljs.pdf
*.dart.pdf
*.edn.pdf
*.js.pdf
*.json.pdf
*.md.pdf
*.yaml.pdf

# temp dirs
tmp/
temp/

# direnv / dotenv
.env*
!.env.template
!.envrc
!.envrc.template
!.envrc.*.template

# editor temp files
*~
.*~
.\#*

# node_modules (we don't want the entire `node` ruleset from gitignore.io)
node_modules/

### ----------------------------------------------------------------------

# Created by https://www.toptal.com/developers/gitignore/api/linux,osx,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=linux,osx,windows

### Linux ###
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.toptal.com/developers/gitignore/api/linux,osx,windows

# Created by https://www.toptal.com/developers/gitignore/api/yarn
# Edit at https://www.toptal.com/developers/gitignore?templates=yarn

### yarn ###
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# (we keep the cache even if we're not using Zero-installs
# because it makes the initial `yarn install` zippy)
!.yarn/cache

.pnp.*

# End of https://www.toptal.com/developers/gitignore/api/yarn
